@font-face{
    font-family: "zhegotte";
    src: url(../assets/fonts/Zhegotte.otf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 100%;
    font-family: "Roboto",sans-serif, Arial, Helvetica;
    font-weight: bold;
    background-color: #F7F5E6;
}
header {
    width: 100vw;
    background-color:#F7F5E6;
    background-color: #52658F;
}

.logoHotel {
    text-align: left;
    font-size: 2rem;
    background-position: left;
    padding-top: 50px;
    color: #E8E8E8;
    font-family: "zhegotte"; 
}

#navHeader {
    font-family: "Roboto",sans-serif, Arial, Helvetica;
    font-weight: bold;
    font-size: 1em;
    text-align: right;
}

#navHeader ul li {
    display: inline-block;
    background-size: contain;
    background-position: right;
    
}

ul li a {
    text-decoration: none;
    color: #E8E8E8;
    padding: 10px;
}
footer {
    width: 100vw;
    height: 15;
    padding: 20px;
    background-color: #E8E8E8;
    color: #333A56;
    text-align: center;
}    

.botonenlaces{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
}
.galeriaFotos{
    display: grid;
}

.imagenHotel{
    width: 100vh;
    height: 60%; 
}
.datosNosotros{
    width: 90%;
    margin: 20px auto;
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}
.mapaubicacion {
    background-color: #E8E8E8;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.habitaciones{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
